:root {
  --main-font-family: "Nunito", sans-serif;
  --font-size: 1.5rem;
  --second-title-font-size: 0.6rem;
  --button-font-size: 0.6rem;
  --text-color: #181818ff;
  --button-color-orange: #ed6436ff;
  --title-color-orange-2: #ed6638ff;
  --hover-color-coral: #f0815bff;
  --button--color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  color: var(--text-color);
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

.main-container {
  padding: 20px 25px 10px 25px;
}

.banner {
  text-align: center;
}

.banner__concept {
  margin: 30px 0 20px 0;
  font-size: var(--second-title-font-size);
  text-transform: uppercase;
  font-weight: 550;
  color: var(--title-color-orange-2);
}

.button {
  padding: 15px 25px;
  margin: 30px;
  color: var(--button--color);
  background-color: var(--button-color-orange);
  border-radius: 0 25px 25px 25px;
  font-size: var(--button-font-size);
  text-transform: uppercase;
  font-weight: 510;
}

button:hover {
  color: var(--hover-color-coral);
  background-color: var(--button--color);
  border: solid 1px var(--hover-color-coral);
}
